[[source]]

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
coverage = "*"
python-dotenv = "*"
pytest-asyncio = "*"
freezegun = "*"

[packages]
fastapi = "*"
aiohttp = "*"
gunicorn = "*"
urllib3 = "*"
dotenv = "*"

[requires]
python_version = "3.10"
